.contact {
  height: 100vh;
  position: relative;
  background-color: rgb(88, 213, 213);
}

.contact--bg {
  width: 20px;
  height: 100%;
  background-color: rgb(182, 129, 230);
  position: absolute;
}

.contact--wrapper {
  padding: 50px;
  display:flex;
}

.contact--left {
  flex: 1;
}

.contact--right {
  flex: 1;
}

.contact--title {
  font-size: 60px;
  width: 80%;
  color: azure;
}

.contact--info {
  padding: 0px;
  display: flex;
  flex-direction: column
}

.icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.contact--info--item {
  padding: 0px;
  margin-bottom: 40px;
  font-size: 40px;
  color: black;
  display: flex;
  align-items: center;
}

.contact--profile--background {
  clip-path: polygon(56% 0, 100% 0, 100% 74%, 91% 74%, 91% 100%, 72% 74%, 56% 74%);
  background-color: #7c32eb;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  filter: opacity(20%);
}

.contact--right {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}

.contact--right > h1 {
  position: relative;
  font-size: 18vh;
  margin-left: 15vh;
  color: white;
};

@media screen and (max-width: 480px) {
  .icon {
    display: none;
  }

  .contact--right {
    display: none;
  }

  .contact--right > h1{
    display: none;
  }

  .contact {
    font-size: 20px;
  }

  .contact--profile--background{
    display: none;
  }

  .contact--left {

  }
  
  .contact--right {
    display: none;
  }

  .contact--info--item {
    font-weight: lighter;
  }
  
  .contact--left {
    width: 480px;
  }

  .contact--title {
    display: none;
  }

  .contact--info--item > div{
    display: none;
  }
}
