@media screen and (max-width: 480px) {
    img {
        display: none;
    }

    .contact--right > h1{
      display: none;
    }
  
    .contact--profile--background{
      display: none;
    }
  
    .contact--left {
        height: 400px;
        padding-right: 0px;
    }

    .contact--left > p {
        font-size: small;
        padding: 0px;
        margin: 0px;
    }

    .contact--wrapper {
        height: 640px;
    }
    
    .contact--right {
      display: none;
    }
  
    .contact--info--item {
        padding: 0px;
        margin-bottom: 40px;
        font-size: 20px;
        color: black;
        display: flex;
        align-items: center;
    }
    
    .contact--left >h1 {
        font-size: 30px;
        width: 100px;
        display: flex;
        flex-direction: row;
    }
    .contact--left {
      width: 100px;
    }

    .contact--wrapper {
        padding: 0;
        display: flex;
    }
  }
  